h1,
p {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container {
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size:larger;
    text-align: left;
    padding: 1em;
    width: 70%;
}

#cabecera {
    background: #33A;
    box-shadow: 11px 3px 32px -6px rgba(0, 0, 0, 0.52);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    -webkit-box-shadow: 11px 3px 32px -6px rgba(0, 0, 0, 0.52);
}

#footer {
    background: #777;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    padding: 0.5em;
    text-align: center;
}